<div id="academic" class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="dim mt-5">Address</h4>
      <hr>
    </div>
    <div class="col-md-6" itemscope itemtype="http://schema.org/Organization">
      <address>
        <strong>Mr MM Koshy (MA) </strong>
        <span itemprop="name">Cheekanal Industries and Trading Company (Citco)</span> <br>
        <span itemprop="streetAddress">Omalloor PO</span> <br>
        <span itemprop="addressLocality">Pathanamthitta, Kerala, India</span> <br>
        <span itemprop="postalCode">Pin: 689647</span>
        <br><br><br>
      </address>

    </div>
    <div class="col-md-6 c" itemscope itemtype="http://schema.org/Person">

      <address>
        <strong>Email:</strong><br> 
        <span itemprop="email">mmkoshyster(at)gmail(dot)com</span>
         <br><br>
        <strong>Tel: Within India:</strong><br> 
        <span itemprop="telephone">04682 230059 (voice)</span>
         <br><br>
        <strong>Tel: International:</strong><br> 
        <span itemprop="telephone">+91 4682 230859 (voice)</span>
        <br><br>
        <strong>Mobile:</strong><br> 
        <span itemprop="telephone">+91 94470 30159</span>
        <br><br>
      </address>

    </div>
    <div class="col-md-12">
      <h4 class="dim mt-5">How to Reach Us</h4>
      <hr>
    </div>
    <div class="col-md-12 c">
      <a href="https://www.google.com/maps?saddr=My+Location&daddr=Citco Coconut Oil, Cheekanal, Pathanamthitta, Kerala" target="_blank">
        <img class="img-fluid" src="/assets/images/Map.png" alt="Map of Citco">
      </a>
    </div>
  </div>
</div>