<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 h80 c study ">
      <div class="row c">
        <div class="col-md-6"></div>
        <div class="col-md-6 fill-washington round-10 p-5">
          <h1>WHERE THERE IS A WILL</h1>
          <h1>THERE IS A WAY!!</h1>
          <div class="lead">Learn at your own pace. Master the lessons with with thousands of on-demand video and interactive
            courses taught by the world's experts.
          </div>
          <button type="button" class="btn btn-outline-primary btn-normal mt-4">
            Credits
          </button>
        </div>
      </div>
    </div>
  </div>
</div>