<!-- <img  src="//maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY;zoom=13;size=600x300;maptype=roadmap;markers=color:blue%7Clabel:S%7C40.702147,-74.015794;markers=color:green%7Clabel:G%7C40.711614,-74.012318;markers=color:red%7Clabel:C%7C40.718217,-73.998284;key=AIzaSyDHqGZ8NTrE-pAAaC5nSBwmbWJEnYwNMHg"
    alt="Points of Interest in Lower Manhattan"> -->


<!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=AIzaSyDHqGZ8NTrE-pAAaC5nSBwmbWJEnYwNMHg" alt="" srcset=""> -->

<!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v2/view?zoom=9&center=-33.8688%2C151.2093&key=AIzaSyDHqGZ8NTrE-pAAaC5nSBwmbWJEnYwNMHg" allowfullscreen></iframe> -->
<!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=13;size=600x300;maptype=roadmap;markers=color:blue%7Clabel:S%7C40.702147,-74.015794;markers=color:green%7Clabel:G%7C40.711614,-74.012318;markers=color:red%7Clabel:C%7C40.718217,-73.998284;&key=AIzaSyDHqGZ8NTrE-pAAaC5nSBwmbWJEnYwNMHg" allowfullscreen></iframe> -->

<!-- <pre class="map-placeholder">








    WORKING 
    MAP 
    HERE
</pre> -->

<!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJP3Sa8ziYEmsRUKgyFmh9AQM&key=AIzaSyDHqGZ8NTrE-pAAaC5nSBwmbWJEnYwNMHg" allowfullscreen></iframe> -->


