<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-6 text-justify lead">
            <h4 class="dim mt-5">Welcome to Citco.</h4>
            <hr> Citco (<strong>Cheecknal Industries and Trading Company</strong>) is a leading producer of <mark>roasted
                and double filtered premium coconut oil</mark>, based in Pathanamthitta, Kerala, India. Our oil is 100% pure,
            with no Additives and no preservatives, and holds the <mark>highest Agmark Grade 1 certification</mark>. We can
            supply our products within India and abroad and welcome your enquiries.
            <br><br>
            <a [routerLink]="['/products']" >Take a look at the products we sell.</a>

            <hr>
            <p>
                Citco products are available at many retailers around Kerala. You can also purchase directly from our factory in Omalloor, where we are always pleased to receive so many of our regular customers, both wholesale and retail.
            </p>
            <a [routerLink]="['/contact']" >Contact Us.</a>

            
            
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                    <h4 class="dim mt-5">Agmark Certified.</h4>
                    <hr>         
            </div>
            <div class="col-md-12 c text-justify lead">
                    <a href="https://dmi.gov.in/GradesStandard.aspx" target="blank">
                        <img src="/assets/images/agmark-logo.gif"  hspace="20px" alt="AGMARK Logo"></a>
                    <p>Our oil is tested regularly at the Kerala State Agmark grading laboratory, approved and assured by the Government
                        of India. This gives you an independent verification of the purity and quality of our product.</p>
        
            </div>
        </div>
    </div>
</div>