<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                © 2019 Cheecknal Industries and Trading Company. All Rights Reserved.
            </div>
        </div>
      </div>
</footer> -->
<footer class="footer mt-auto py-3">
    <div class="container">
        <br><br><br><br><br>
        <div class="row">
          <div class="col-md-6 c">
              <span class="text-muted">© 2019 Cheecknal Industries and Trading Company. All Rights Reserved.</span>
          </div>
          <div class="col-md-6">
              <!-- <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a> -->
          </div>
        </div>
    </div>
  </footer>