<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 zero-padding">
      <img class="img-fluid w100" src="https://magicmomentholidays.com/assets/imgs/kochi-banner.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h5>Kochi</h5>
      <p>Kochi (also known as Cochin) is a city in southwest India's coastal Kerala state. It has been a port since 1341, when a flood
          carved out its harbor and opened it to Arab, Chinese and European merchants. Sites reflecting those influences include
          Fort Kochi, a settlement with tiled colonial bungalows and diverse houses of worship. Cantilevered Chinese fishing
          nets, typical of Kochi, have been in use for centuries.</p>
    </div>
    <div class="col-md-2">VIDEO GALLERY</div>
    <div class="col-md-2">PHOTO GALLERY</div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5>News</h5>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h5>Directory</h5>
          <button class="btn link"><i class="fa fa-info"></i> Quick Facts</button>
          <button class="btn link"><i class="fa fa-clock"></i> Business Hours</button>
          <button class="btn link"><i class="fa fa-building"></i> Embassies & Consulates</button>
          <button class="btn link"><i class="fa fa-hospital"></i> Medical Services</button>
          <button class="btn link"><i class="fa fa-home"></i> Local Government</button>
          <button class="btn link"><i class="fa fa-car-crash"></i> Insurance</button>
          <button class="btn link"><i class="fa fa-phone"></i> Telephone</button>
        </div>
        <div class="col-md-12">
          <h5>Highlights</h5>
          <button class="btn link"><i class="fa fa-home"></i> History</button>
          <button class="btn link"><i class="fa fa-handshake"></i> Culture</button>
          <button class="btn link"><i class="fa fa-home"></i> Customs</button>
          <button class="btn link"><i class="fa fa-home"></i> Festivals</button>
          <button class="btn link"><i class="fa fa-home"></i> Places to Visit</button>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h5>Things to do</h5>
          <button class="btn link"><i class="fa fa-home"></i> Events</button>
          <button class="btn link"><i class="fa fa-home"></i> Holidays</button>
        </div>
        <div class="col-md-12">
          <h5>Obsessions</h5>
          <button class="btn link"><i class="fa fa-home"></i> Food & Drink</button>
          <button class="btn link"><i class="fa fa-home"></i> Art & Architecture</button>
        </div>
        <div class="col-md-12">
          <h5>Travel</h5>
          <button class="btn link"><i class="fa fa-map-marked"></i> Tourist Information</button>
          <button class="btn link"><i class="fa fa-atlas"></i> Visas</button>
          <button class="btn link"><i class="fa fa-route"></i> Getting Around</button>
          <button class="btn link"><i class="fa fa-speakap"></i> Language</button>
          <button class="btn link"><i class="fa fa-home"></i> Itineraries</button>
          <button class="btn link"><i class="fa fa-home"></i> Accommodation</button>
          <button class="btn link"><i class="fa fa-hiking"></i> Activities</button>
          <button class="btn link"><i class="fa fa-cloud-sun-rain"></i> Climate</button>
          <button class="btn link"><i class="fa fa-comments-dollar"></i> Money</button>
        </div>

      </div>

    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h5>Places to visit</h5>
          <button class="btn link"><i class="fa fa-map-marked"></i>Backwater </button>
          <button class="btn link"><i class="fa fa-map-marked"></i>Beaches </button>
          <button class="btn link"><i class="fa fa-map-marked"></i>Festivals </button>
          <button class="btn link"><i class="fa fa-map-marked"></i>Forts </button>
          <button class="btn link"><i class="fa fa-map-marked"></i>Monuments </button>
          <button class="btn link"><i class="fa fa-map-marked"></i>Museums </button>
          <button class="btn link"><i class="fa fa-map-marked"></i>Water falls </button>
          <button class="btn link"><i class="fa fa-map-marked"></i>Wildlife </button>
          <button class="btn link"><i class="fa fa-map-marked"></i>Pilgrim Center </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>Area Guide</h5>
      <button class="btn link"><i class="fa fa-home"></i> ...</button>
    </div>
  </div>
</div>