<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-6 text-justify lead">
            <h4 class="dim mt-5">How we manufacture coconut oil</h4>
            <hr> 
            <p>We source sun-dried coconut (copra) from family-owned farms around Kerala and Tamil Nadu. Many of our copra suppliers have been working with us for two decades and these long-standing relationships help us assure quality.</p>

            <p>Upon arrival, copra is steam-roasted to dry it completely, and machine pressed to expel the oil. This oil is double filtered and packaged either in new polyethylene (PET) containers or soft plastic pouches. Steam-roasting produces coconut oil with a fuller flavour and longer shelf life at a very modest cost premium to our standard oil.</p>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                    <h4 class="dim mt-5">Cooking Tips.</h4>
                    <hr>         
            </div>
            <div class="col-md-12 c text-justify lead">
                <div class="row">
                  <div class="col-md-12">
                      <p>Kerala is often known as "Gods own country", with lush green fields and tranquil backwaters. Kerala cuisine is very different from other parts of India, and using Citco oil helps bring out the unique flavours of Kerala. Pure coconut oil solidifies below 23 degrees Celsius but will liquefy easily if warmed slightly.   </p>                    
                  </div>
                  <div class="col-md-12">
                    <a href="https://en.wikipedia.org/wiki/Cuisine_of_Kerala" target="_blank">
                      Wikipedia article about using coconut oil in Kerala cuisine.
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>